/** Light Mode*/
$lightgray: hsl(0, 0%, 98%);

/** Dark Mode */
$darkblue: hsl(235, 21%, 11%);
$desaturatedblue: hsl(235, 24%, 19%);
$grayblue: hsl(234, 39%, 85%);

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
@import url("https://css.gg/check-o.css");
@import url("https://css.gg/remove.css");
@import url("https://css.gg/radio-checked.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

button,
.reset {
  cursor: pointer;
}

button,
h1,
h4,
p,
input,
.reset {
  color: var(--buttonColor);
}

.box {
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  border-radius: 50%;
  margin: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  // background-image: url("../images/bg-desktop-dark.jpg");
  background-image: var(--backgroundImg);
  background-repeat: no-repeat;
  // background-color: $darkblue;
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header {
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: space-between;

    h1 {
      color: var(--inverted);
      letter-spacing: 10px;
    }
  }

  .content {
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .inputs,
    .todo,
    .selection {
      background-color: var(--contentBackgroundColor);
    }

    .inputs {
      width: 100%;
      height: 10%;
      // background-color: $desaturatedblue;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      // border-top-left-radius: 10px;
      // border-top-right-radius: 10px;
      //   justify-content: space-between;

      input {
        background-color: transparent;
        border: none;
        width: 80%;
        padding: 8px;
        font-size: 1rem;
      }

      button {
        background-color: transparent;
        border: none;
        height: 100%;
        width: 15%;
        font-size: 1rem;
      }
    }

    .todo {
      width: 100%;
      height: 80%;
      // background-color: $desaturatedblue;
      color: white;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      overflow-x: hidden;

      .active,
      .completed {
        .notasks {
          opacity: 0.6;
        }
        h4 {
          padding-top: 10px;
          padding-left: 5px;
        }
        p {
          padding: 20px 10px;
        }
      }

      ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        li {
          min-width: 100%;
          max-width: 100%;
          min-height: 50px;
          display: flex;
          align-items: center;
          border-bottom: 1px solid gray;

          &:first-child {
            padding-top: 5px;
          }

          &:last-child {
            border: none;
          }

          p {
            width: 81%;
            overflow-x: auto;
          }

          button {
            color: gray;
            border-radius: 10px;
            border: none;
            background-color: transparent;
          }
        }
      }
    }

    .selection {
      width: 100%;
      height: 10%;
      // background-color: $desaturatedblue;
      border-top: 1px solid lightgray;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 10px;
      color: white;
      font-size: 0.8rem;
      // border-bottom-left-radius: 10px;
      // border-bottom-right-radius: 10px;

      .select {
        display: flex;
        flex-direction: row;
        gap: 10px;
        button {
          color: black;
        }
      }
    }
  }
}

/* Remove & Done icons*/
.gg-remove {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 22px;
}

.gg-remove::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 2px;
  background: currentColor;
  border-radius: 5px;
  top: 8px;
  left: 4px;
}

/* ScrollBar */

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $grayblue;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 425px) {
  .container {
    .content {
      width: 88%;

      .inputs {
        button {
          font-size: 14px;
        }
      }

      .selection {
        padding: 0 5px;

        .select {
          gap: 5px;
          padding-right: 10px;
        }

        .numberleft,
        .reset {
          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}
